@import "global.css";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.page h1, h2, p {
    color: var(--alice-blue);
}

/* Logo section */
.logo {
  width: fit-content;
  margin: 0;
}

.logo img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

/* Main section */
.contentWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--space-indigo);
    border-radius: 25px;
    margin: 10%;
}

.contentWrapper h1 {
    align-self: center;
    text-decoration: underline var(--strawberry-red);
    font-size: clamp(1.4rem, 6vw, 2.3rem);
    font-family: "Instrument Serif";
    font-weight: 100;
}

.contentWrapper h2 {
    font-family: "Instrument Serif";
    font-size: clamp(1.1rem, 5vw, 2rem);
    font-weight: 150;
    margin-left: 8%;
    margin-right: 8%;
    font-kerning: auto;
}

.contentWrapper p {
    font-family: roboto;
    font-size: clamp(0.9rem, 4vw, 1.5rem);
    /* margin values follow: top, right, bottom, left */
    margin: 0% 8% 2% 8%; 
    font-weight: 150;
}

.contentWrapper a {
    color: var(--carrot-orange);
    text-decoration: none;
    font-family: roboto;
    margin-top: 0%;
    font-weight: 150;
    margin-bottom: 8%;
    font-size: clamp(0.9rem, 4vw, 1.5rem);
}

.loginBtn {
    margin-left: 8%;
    margin-right: 8%;
}